{% load static from staticfiles %}
<!DOCTYPE html>

<html>

<head>
    <title>Test Web</title>
    <link rel="stylesheet" type="text/css" href="{% static 'signin.css' %}" />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/slideshow.css' %}" /> -->
</head>
        <div class="left col-xs-11">
                    {% block content %} {% endblock content %}
                </div>
</html>