{% load static from staticfiles %}
<!DOCTYPE html>
{% block main %}
<head>
    <title>Test Web</title>
    <link rel="stylesheet"  href="{% static 'signin.css' %}" />
</head>
<div>
   {% if user.is_authenticated  %}
      <br>
               
       <div>
            Bonjour {{user.username}} <br>
                            &nbsp; &nbsp;
                            <a href={% url 'logout' %} >Deconnexion</a>  
          </div>
    {%endif%}
    </div>
   <form class="form-signin" method="post" action="{% url 'export_views' %}">
    <h3 class="form-signin-heading">Exporter CSV</h3>
    {% csrf_token %}

 <div style="text-align:center;">
    <button type="submit">export</button>
    </div>
  </form>
{% endblock %}