
{% load static from staticfiles %}
<!DOCTYPE html>
{% block main %}
<head>
    <title>Test</title>
    <link rel="stylesheet"  href="{% static 'signin.css' %}" />
</head>
        <form class="form-signin" name="LoginForm" action={% url 'login' %} method="post" >
        {% csrf_token %}
        <h3 class="form-signin-heading">Please sign in</h3>

        <input type="text" id="username" name="username"  placeholder="Identifiant" required autofocus>
    <br>
    <br>
  
        <input type="password" name="password" id="password" placeholder="Password" required autofocus>

</p>
<div style="text-align:center;">
        <button class="btn-primary center-block" type="submit">Connexion</button>
        </div>
</form>


{% endblock %}





