
{% load static from staticfiles %}
<!DOCTYPE html>
{% block main %}
<head>
    <title>Test Web</title>
    <link rel="stylesheet"  href="{% static 'signin.css' %}" />
</head>

  <form class="form-signin" method="post">
    <h3>Sign up</h3>
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <div style="text-align:center;">
    <button type="submit">Sign up</button>
    </div>
  </form>
{% endblock %}